.title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.homeworks{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}
.homework{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: cornflowerblue;
    height: 50px;
    width:300px;
    border-radius: 20px;
    margin-bottom: 10px;
    
}
.homework>h3{
    margin-left: 20px;
    color:white;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
}
